.topMarging24{
    margin-top:24px;
}
.removeColor{
    color:#c00
}
.addremovedata{
    max-height: 500px;
    min-height: 250px;
    overflow-y: scroll;
}
.col-lg-12{
    text-align: center;
}