
<!-- Dashboard-->
<br><br><br>
<mat-toolbar>Schedule An Interview or Search Applicant</mat-toolbar>
<br><br><br>
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-4">
        <mat-card class="first">
            <br><br>
        <p>Enter A New Applicant:-</p><br>
        <button type ="button" class="btn btn-default" a routerLink="/applicantform">New Applicants</button>
        </mat-card>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
        <mat-card class="second">
            <br><br>
        <p>Search For Existing Applicant:-</p><br>
        <button type="button" class="btn btn-default" a routerLink="/searchapplicant">Existing Applicants</button>
    </mat-card>
</div>
</div>


